.idea/
*.iml
.vscode/
*~
.#*
.dockerignore
.git*
.npmrc*
.travis.yml
.atomist/
.nyc_output/
/build/
/doc/
/config/
/coverage/
/log/
/scripts/
/src/
/test/
/CO*.md
/Dockerfile
/assets/kubectl/
*.log
*.txt
*.ts
!*.d.ts
/graphql.*.json
/schema.json
